@font-face {
    font-family: 'bpg_nino_mtavruli_bold';
    src: url('assets/fonts/bpg_nino_mtavruli_bold.otf');
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.main {
    background: #ffffff;
    padding: 9vh;
    border-radius: 3%;
    position: absolute;
    top: 20%;
    position: absolute;
    top: 30%;
}

.task {
    font-family: 'Raleway', sans-serif;
    font-size: 1.7vh;
    font-weight: bold;
}

.done {
    text-decoration: line-through;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0.9;
    border-bottom: 1px solid black;
    padding-top: 25px;
}

p {
    font-size: 2.1vh;
    text-align: center;
    font-family: 'bpg_nino_mtavruli_bold';
}

h1 {
    width: 57%;
    margin: 0 auto;
}

button {
    font-family: 'bpg_nino_mtavruli_bold';
    background: #fa3354;
    opacity: 0.8;
    color: #ffffff;
}

label {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-family: 'bpg_nino_mtavruli_bold';
}